<footer>
  <div>
    <p>
      Diese Webseite wird von <a href="https://twitter.com/yschencking">Yannic Schencking</a> betrieben. Das Repo zur Website findest du auf <a href="{{ pkg.repository.url }}">GitHub</a>.
    </p>
    <p>
      Die letzte Aktualisierung erfolgte am {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}.
    </p>
    <p>
      Props go to <a href="https://github.com/philhawksworth" target="_blank">Phil Hawksworth</a> for building the <a href="https://github.com/philhawksworth/eleventyone" target="_blank">starter project</a> on which this website is based on.
    </p>
  </div>

  <div>
    <a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a>
  </div>
</footer>
