<header>
  <ul class="nav">
    <li>
      <a href="/">Mein Ladbergen<small>mit besten Verbindungen</small></a>
    </li>
    <li>
      <a href="/entsorgungskalender">Entsorgungskalender 2024<small>Müllabfuhr in 2024</small></a>
    </li>
    <li>
      <a href="/ausflugsziele">Ausflugsziele<small>in der Nähe</small></a>
    </li>
    <li>
      <a href="http://ratsinfo.mein-ladbergen.de" target="_blank">Ratsinformationssystem<small>Meine Stadt Transparent</small></a>
    </li>   
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
